          <div>
            <div style="margin:80px 0 0 80px;">
            <h1 class="wow fadeInRightBig" data-wow-duration="2s" data-wow-delay="1s">
              Our blog
            </h1>
            <div class="lead wow fadeInRightBig" data-wow-duration="2s" data-wow-delay="0.3s">
              Success is no accident. It is hard work, <strong>perseverance</strong>, learning, sacrifice and most of all, 
              <span class="colour"><strong>love</strong></span> of what you are doing or <span class="colour">learning</span> to do. 
            </div>
            </div>
          
          <div class="row" style="margin:20px 120px 40px 80px;">
        <div class="pad30"></div>
    <div class="col-md-8">
    <%= link_to 'New Blog Post', new_blog_path, method: :get %>
    <br>
  
    <!-- 1-->
    <div>
    <% @blogs.each do |blog| %>
      
        <h1 class="blog-title"><%= blog.title %></h1>
          <h6>
            <%= blog.created_at.strftime("%b %d, %Y") %>

          </h6>       
          <p>
            <%= blog.message %> 
          </p> 
          
      <div class="pad45"></div>  
      <% end %>    
    </div>
    
    <!-- sidebar -->
      
  </div>
  </div>

  
  <!-- FUTURE PAGINATION ??--> 

 