
          
            <div style="margin:80px 0 0 80px;">
            <h1>
              Our blog
            </h1>
            <div class="lead">
              Success is no accident. It is hard work, <strong>perseverance</strong>, learning, sacrifice and most of all, 
              <span class="colour"><strong>love</strong></span> of what you are doing or <span class="colour">learning</span> to do. 
            </div>
            </div>
          <div class="row" style="margin:20px 120px 40px 80px;">
        <div class="pad30"></div>

    <div class="col-md-8">
    <% if current_user != nil %>
    <%= link_to 'New Blog Post', new_blog_path, method: :get %>
    <% end %>
    <br>
  
    <!-- 1-->
    <div>
 
    <%= render @blogs %>
        
      <div class="pad45"></div>   
      <%= will_paginate %> 
    </div>
    
    <!-- sidebar -->
      
  </div>
  </div>

  
 

 