
            <div style="margin:80px 0 0 80px;">
            <h1 class="wow fadeInRightBig" data-wow-duration="1.7s" data-wow-delay="0s">
              Photos
            </h1>
            </div>
            <div style="border-bottom:2px solid lightgray;margin:85px;"></div>

<div style="margin:10%;">
<div class="gallery">
  <a href="/assets/images/milestones.jpeg" data-lightbox="kcruby"><img src="/assets/images/milestones.jpeg" alt="milestones" width="350" height="350"></a><div><!--Add description here--></div>
</div>
<div class="gallery">
  <a href="/assets/images/big_image.jpg" data-lightbox="kcruby"><img src="/assets/images/big_image.jpg" alt="big_image" width="350" height="350"></a>
  <div class="descg"><!--Add description here--></div>
</div>
<div class="gallery">
  <a href="/assets/images/home_image.jpg" data-lightbox="kcruby"><img src="/assets/images/home_image.jpg" alt="home_image" width="350" height="350"/></a>
  <div class="descg"><!--Add description here--></div>
</div>
<div class="gallery">
  <a href="/assets/images/RooftopClouds.jpg" data-lightbox="kcruby"><img src="/assets/images/RooftopClouds.jpg" alt="RooftopClouds" width="350" height="350"/></a><div class="descg"><!--Add description here--></div>
</div>
</div>
