 <div style="margin: 80px;">
            <h1 class="wow fadeInRightBig" data-wow-duration="2s" data-wow-delay="1s">
              KcRuby Users
            </h1>
            <div class="lead wow fadeInRightBig" data-wow-duration="2s" data-wow-delay="0.3s">
              Success is no accident. It is hard work, <strong>perseverance</strong>, learning, sacrifice and most of all, 
              <span class="colour"><strong>love</strong></span> of what you are doing or <span class="colour">learning</span> to do. 
            </div>
          
          <div class="row">
    <div class="row">
    
    <!-- 1-->
    <div>
    <% @users.each do |user| %>
    <div style="margin:20px;">
        <img style="margin-bottom:10px;">
        <%= gravatar_for user %></img>
        <p><%= user.name %></p>
        <br>
    </div>
    <% end %>
 
           
      </div>
    </div>
  </div>
</div>