 <div style="margin: 80px;">
            <h1 class="wow fadeInRightBig" data-wow-duration="2s" data-wow-delay="1s">
              KcRuby Users
            </h1>
            <div class="lead wow fadeInRightBig" data-wow-duration="2s" data-wow-delay="0.3s">
              Success is no accident. It is hard work, <strong>perseverance</strong>, learning, sacrifice and most of all, 
              <span class="colour"><strong>love</strong></span> of what you are doing or <span class="colour">learning</span> to do. 
            </div>
          
          <div class="row">
    <div class="row">
    
    <!-- 1-->
    <%= will_paginate %>

<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= gravatar_for user %>
      <%= link_to user.name, user %>
    </li>
  <% end %>
</ul>

<%= will_paginate %>
    </div>
  </div>
</div>