<p id="notice"><%= notice %></p>
<% provide(:title, @user.name) %>
<div class="row" style="margin:10% 0 15% 5%;">
  <aside class="span4">
    <section>
      <h1 style="margin:100px;">
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>


