<!--HOME SECTION STARTS-->
<section id="home" class="single_image">
<div class="light_overlay">
  <!--ANIMATED TEXT-->
  <div id="content">
    <div class="hidden-xs visible-sm visible-md visible-lg wow bounceInDown" data-wow-duration="2s">
      <img src='/assets/images/biglogo.png' class="kclogo wow"/>
    </div>
    <div class="byline  slideInLeft pad45" data-wow-duration="2s" data-wow-delay="0.5s">
      Kansas City
    </div>
    <h1 class=" bounceInDown" data-wow-duration="2s" data-wow-delay="0.7s">
      RUBY
    </h1>
    <div class="name  bounceInDown" data-wow-duration="3s" data-wow-delay="1s">
      Users Group
    </div>
    <div class="text-center pad30">
      <a href="#about" class="scroll">
        <i class="fa fa-caret-down fa-inverse ilink fa-3x  rotateIn animated" data-wow-duration="1s" data-wow-delay="2s"></i>
      </a>
    </div>
  </div>
</div>
</section>
<!--//HOME SECTION ENDS-->



<!--TEAM SECTION STARTS-->
<section id="team">
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-lg-12">
      <h1 class=" fadeInRightBig" data-wow-offset="80" data-wow-duration="2s">
        Who we are
      </h1>
      <div class="lead   fadeInRightBig" data-wow-offset="80" data-wow-duration="2s">
        The <span style="font-size:1.2em;">Kansas City Ruby User Group</span> (KCRug) was founded in
        <span class="colour">November of 2003</span>, by <strong><span class="colour">Jason Clinton</span></strong>
        and <strong><span class="colour">Shashank Date</span></strong>. Jason and Shashank formed the group with the
        desire to have <strong>a common place where Ruby programmers could come together</strong> and talk about Ruby.
      </div>
    </div>
    <div class="col-sm-12 col-lg-6">
      <p class=" fadeIn" data-wow-offset="80" data-wow-duration="2s">
      KCRug is a member of a community of User Groups around the country. Anyone is welcome to attend. There are no
      dues or fees, and you don't have to know anything about Ruby or Rails. There is a chance you might learn
      something from others in the group.
      </p>
    </div>
    <div class="col-sm-12 col-lg-6">
      <p class=" fadeIn" data-wow-offset="80" data-wow-duration="2s">
      Ruby is a computer programming language. It is very often used together with Rails, which is a framework for
      quickly producing robust web applications based upon databases.
      </p>
    </div>
  </div>
</div>
</section>

    <!--CONTACT SECTION STARTS-->
    <section id="contact">
    <div class="container" style="margin-left:5%;">
      <div class="row">
        <div class="col-sm-12 col-lg-12 ">

          <div class="lead" style="font-size:5em;padding:15px 0 0 25px;">
            Join us on <strong>Slack</strong>!
          </div>
          <div class="contact_form">
            <div id="fields">
              <%= form_tag( {:action => 'create'}, { :method => :post } ) do %>
                <div style="margin:0 14% 0 14%;">
                  <table>
                    <tr>
                      <td>
                        Your Name:
                      </td>
                      <td>
                        <%= text_field_tag(:name, nil, class: 'rounded inputs', placeholder: 'Your Name', required: true, style: "color:black") %>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Email:
                      </td>
                      <td>
                        <%= text_field_tag(:email, nil, class: 'rounded inputs', placeholder: 'Email', required: true, style: "color:black") %>
                      </td>
                    </tr>
                    <tr>
                      <td colspan='2'>
                        <input class="btn btn marg-right10" style="background-color: #2E3138" name="commit" value="Join KC Ruby Slack" type="submit">
                      </td>
                    </tr>
                  </table>
                </div>
              <% end %>
            </div>
          </div>

        </div>
      </div>
    </div>
    </section>
    <!--//END CONTACT SECTION-->
